
img{
    width: 100%;
    margin-bottom: 30px;
}

/* 
                    HEADER
 */

/* 
        HEADER TOP
*/

nav{
    height: 100px;
}

.navbar{
    background-color: #2C3E50;
}

.navbar .navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar .navbar-toggler{
    border: 1px solid white;
}

.navbar-toggler-icon{
    color: gray;
}

/* 
        HEADER BOTTOM
*/

.my-bg-aqua{
    background-color: #1ABC9C;
    padding: 40px 0;
    text-align: center
}

.my-img-avatar{
    width: 50%;
}

.my-h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.my-star-container{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
}

.my-star{
    font-size: 30px;
    margin: 0 10px;
}

.my-divider-line{
    height: 5px;
    width: 80px;
}

/* 
                    MAIN
*/

/* 
            PORTFOLIO
*/

.my-container-portfolio,
.my-container-contact{
    padding: 40px 0;
    text-align: center;
}

.my-container-flex-img{
    display: flex;
    flex-wrap: wrap;
}
/* 
            ABOUT
*/

.my-smaller-line{
    width: 50px;
}

.my-container-60{
    margin: auto;
    width: 60%;
    text-align: left;
}

/* 
            CONTACT ME
*/

.bg-light-green{
    background-color: #1ABC9C;
    border: 1px solid #1ABC9C;
}

/* 
                    FOOTER
*/

.footer-top{
    padding: 50px;
}

.footer-block{
    display: block;
}

/* 
            FOOTER TOP
*/

.bg-blue{
    background-color: #3A546D;
}

.footer-top p{
    font-size: 22px;
}

.footer-top a{
    color: #1ABC9C;
}

.icon-container{
    width: 300px;
    justify-content: center;
    gap: 10px;
}

.my-circle{
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

/* 
            FOOTER BOTTOM
*/

.bg-dark-blue{
    background-color: #2C3E50;
}

.footer-bottom{
    padding: 50px;
}

 /* 
                    RESPONSIVE
 */

@media screen and (min-width: 1020px){

    .my-h1,
    h2{
        scale: 1.8;
    }

    .my-star-container{
        margin: 20px auto;
    }

    .my-star{
        margin:0 20px;
    }

    .my-img-container{
        width: 55%;
        margin: auto;
    }

    .my-divider-line{
        width: 130px;
        height: 4px;
    }

    .my-smaller-line{
        width: 100px;
    }

    .my-container-flex-img > *{
        width: 47%;
    }

    .footer-block p{
        font-size: 17px;
    }

    .my-container-60-flex{
        display: flex;
        gap: 50px;
    }
}

@media screen and (min-width: 1651px){

    .my-container-flex-img > *{
        width: 31%;
    }

    .my-star{
        margin: 0 40px;
    }

    .my-divider-line{
        width: 170px;
        height: 4px;
    }

    .my-smaller-line{
        width: 130px;
    }
}