
img{
    width: 100%;
    margin-bottom: 30px;
}

/* 
                    HEADER
 */

/* 
        HEADER TOP
*/


nav{
    height: 100px;
}

.navbar{
    background-color: #2C3E50;
}

.navbar .navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar .navbar-toggler{
    border: 1px solid white;
}

.navbar-toggler-icon{
    color: gray;
}

/* 
        HEADER BOTTOM
*/

.my-bg-aqua{
    background-color: #1ABC9C;
    padding: 40px 0;
    text-align: center
}

.my-img-avatar{
    width: 50%;
}

.my-h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.my-star-container{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
}

.my-star{
    font-size: 30px;
    margin: 0 10px;
}

.my-divider-line{
    height: 5px;
    width: 80px;
}

/* 
                    MAIN
*/

/* 
            PORTFOLIO
*/

.my-container-portfolio{
    padding: 40px 0;
    text-align: center;
}



/* 
            ABOUT
*/

.my-smaller-line{
    width: 50px;
}

.my-container-p{
    margin: auto;
    width: 60%;
    text-align: left;
    margin-bottom: 50px;
}
 /* 
                    FOOTER
 */

 /* 
                    DEBUG
 */

